<div class="container">
    <div class="TitleBar">
        <div class="title">
            <h1>Simon</h1>
        </div>
        <div class="playerScore">
            <h1>Score: {{score}}</h1>
        </div>
        <div class="gameStart" (click)="gameStart()">
            <h1 id="startText">gameStart</h1>
        </div>
    </div>
    <div class="Red" id="0" [appHighlight]="color" (click)="isCorrect( 0 )"> 
        
    </div>
    <div class="Green" id="1"  [appHighlight]="color2" secondValue="black"  (click)="isCorrect( 1 )"></div>
    <div class="Blue" id="2" [appHighlight]="color3" (click)="isCorrect( 2 )"></div>
    <div class="Yellow" id="3"  [appHighlight]="color4" (click)="isCorrect( 3 )"></div>

    <p [appHighlight]="color">Highlight me!</p>
  </div>
