<div class="container">
    <div class="TitleBar">
        <div class="title">
            <h1>Simon</h1>
        </div>
        <div class="playerScore">
            <h1>Score: {{0}}</h1>
        </div>
        <div class="gameStart">
            <h1 id="startText">gameStart</h1>
        </div>
    </div>
    <div class="Red" id="1" [appHighlight]="color" (click)="onUserClick(1)"> 
        
    </div>
    <div class="Green" id="2"  [appHighlight]="color2" secondValue="black"  (click)="onUserClick(2)"></div>
    <div class="Blue" [appHighlight]="color3" (click)="onUserClick(3 )"></div>
    <div class="Yellow"  [appHighlight]="color4" (click)="onUserClick(4)"></div>

    <p [appHighlight]="color">Highlight me!</p>
  </div>
